$color-number: #ff0701;
$color-background-display: black;

.game-info__display {
  width: 8rem;
  height: 5.36rem;
  color: $color-number;
  background: $color-background-display;
  text-align: center;
  font-size: 4rem;
}
