@import "../../../styles/mixins.scss";

$color-background: #a6a6a6;
$color-background-checked: #898989;
$color-background-button: #fff;
$color-box-shadow: rgba(0, 0, 0, 0.2);

.block {
  @include flex(center, center);
  flex-direction: column-reverse;
}

.block__name {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.block__switcher {
  position: relative;
  width: 8rem;
  height: 4rem;
  appearance: none;
  -webkit-appearance: none;
  background: $color-background;
  outline: none;
  border-radius: 2rem;
  box-shadow: inset 0 0 5px $color-box-shadow;
  transition: 0.5s;

  &:checked {
    background: $color-background-checked;
  }

  &:before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    top: 0;
    left: 0;
    background: $color-background-button;
    transform: scale(1.1);
    box-shadow: 0 0.2rem 0.5rem $color-box-shadow;
    transition: 0.5s;
  }

  &:checked::before {
    left: 4rem;
  }
}
